<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39785220635-engrsc863s64shc6jjfvqb9auvfgd3hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39785220635-engrsc863s64shc6jjfvqb9auvfgd3hd</string>
	<key>API_KEY</key>
	<string>AIzaSyB0aeVohQCeWaEjvnCaePtpeepV_8b-Frg</string>
	<key>GCM_SENDER_ID</key>
	<string>39785220635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.roomate</string>
	<key>PROJECT_ID</key>
	<string>roomate-bd0dc</string>
	<key>STORAGE_BUCKET</key>
	<string>roomate-bd0dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39785220635:ios:22ddb21717720e380cc6be</string>
</dict>
</plist>